.content{

    padding:var(--spacing-lg) 0;

    .wrapper{
        display: flex;
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
    }
    .card{
        width:100%;
        /*padding:var(--spacing-md);*/
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
    }

    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:70px;
        width: 1200px;
        height: 522px;
    }

    h2{
        padding-top:var(--spacing-sm)
    }

}


@media screen and (max-width: $breakpoint-sm) {

        .content .cards {
            grid-template-columns: 1fr 1fr;
            width: auto;
            height: auto;
        }


}

@media screen and (max-width: $breakpoint-xs) {

    .content{
        padding: 30px 0 30px 0;
    }

    .content .cards {
        grid-template-columns: 1fr;
        gap: 18px;
    }


    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:70px;
        width: 1200px;
        height: 522px;
    }

}

